@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
  /* outline: 1px solid lime !important; */
}

:root {
  --dark: rgb(49, 49, 49);
  --darker: rgb(30, 30, 30);
  --light: #fff;
}

body {
  background: var(--dark);
}

.main-section {
  background: transparent;
  max-width: 600px;
  width: 90%;
  height: 500px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.clock-holder {
  width: 100%;
  margin: 30px auto;
}

.stopwatch {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
