@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
  /* outline: 1px solid lime !important; */
}

:root {
  --dark: rgb(49, 49, 49);
  --darker: rgb(30, 30, 30);
  --light: #fff;
}

.main-section {
  background: var(--dark);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid #000;
  overflow: hidden;
}

.clock-holder {
  width: 100%;
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
