.clock {
  width: 90%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  background-color: rgb(30, 30, 30);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: 6px solid var(--light);
}

.numbers {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.numbers .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: center;
  color: var(--light);
  transform: rotate(calc(6deg * var(--i)));
}

.pointer {
  width: 75%;
  height: 75%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1;
}

.point {
  height: 50%;
  width: 10px;
  background-color: red;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.time-display {
  width: 65%;
  height: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 30px;
  color: var(--light);
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  font-size: 1.7em;
  padding: 5px;
  width: 100%;
}

.time span {
  display: flex;
  justify-content: end;
  width: 80%;
}

.time span:last-child {
  width: 100%;
}
